TRADING_MODE=PAPER
INDSTOCKS_ACCESS_TOKEN=
INDSTOCKS_BASE_URL=https://api.indstocks.com
NIFTY_UNDERLYING_ID=40000001
RISK_CAPITAL=2000000
RISK_PER_TRADE=0.005
MAX_DAILY_LOSS=20000
MAX_TRADES=3
MIN_NET_EV=10
MAX_SPREAD_PCT=0.04
STALE_SECONDS=3
STRIKE_COUNT=10
POLL_SECONDS=2
